.createCourse {
  width: 100%;
  border: solid 2px #70a6f8;
  padding: 20px;
  margin-top: 0;
  display: flex;
  flex-direction: column;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .titleInput {
      width: 25%;
    }
  }

  .description {
    position: relative;
    margin: 20px 0;

    label {
    }

    textarea {
      margin-top: 10px;
      border: solid 2px #f8e170;
      width: 100%;
      height: 100px;
      padding: 10px;
    }
    .icon{
      position: absolute;
      right: 0;
      bottom:0;
      margin-right: 15px;
      margin-bottom: 15px;
      cursor: pointer;
      color: #ffffff;
      background-color: #00c4ff;
      border: solid 4px #00c4ff;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      transition: 0.2s;

      &:hover{
        background-color: #0080ff;
        border: solid 4px #0080ff;
      }
    }
  }

  .authorForm {
    display: flex;
    border: solid 2px #000000;
    padding: 20px;

    .authorFormContainer {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;

      h3 {
        margin-bottom: 10px;

        &:nth-of-type(2) {
          margin-top: 30px;
        }
      }

      .durationHours {
        margin-top: 20px;
        font-size: 24px;
        align-self: flex-start;
      }

      .addAuthorContainer{
        display: flex;
        width: 60%;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}